/detected_catalog_1.csv
/detected_catalog_2.csv
/detected_catalog.csv
/detected_catalog_gw-em-1.csv
/detected_catalog_gw-em.csv
/not_detected_catalog_1.csv
/not_detected_catalog_2.csv
/not_detected_catalog.csv
